<div class="media">
  <div class="media-body">
    <h2 class="media-heading">
      <%= "#{family_member.first_name} #{family_member.last_name_now}" %>
    </h2>
    <h3>Parent: <%= family_member.parent || 'Not specified' %></h3>
  </div>
</div>
