<%= link_to "Add Parent", new_family_family_member_path(@family_member.family, :child_ids), class: 'btn btn-success' %>
<%= link_to "Add Child", new_family_family_member_path(@family_member.family, :parent_id), class: 'btn btn-success' %>
<h1><%= "#{@family_member.full_name" %></h1>
