<h1 class="centered">Build a Tree</h1>
 <div class="row pull-left">
  <div class="col-md-4">
    <% @families.each do |family| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p><%= link_to "#{family.name}", family, class: 'btn btn-sucess' %></p>
          </h4>
          <%= link_to "Delete Family", family, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this family member?' } %>
        </h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="family-tree pull-right">
      <%= image_tag("tree.png", :alt => "family tree", :class => "pull-right") %>
    </div>
  </div>
</div>
